<!DOCTYPE html>
<html>
<head>
    <title>List of Products</title>
</head>
<body>

<h1>List of Products</h1>
<table border>
		<tr>
			<th>Product Id</th>
			<th>Product Description</th>
			<th>Product Name</th>
			<th>Purchase Price</th>
			<th>Max Retail Price</th>
			<th>Selling Pricee</th>
			<th>Quantity</th>
			<th>Update Product</th>
			<th>Delete Product</th>
		</tr>
    
  
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.purchasePrice}"></td>
        <td th:text="${product.maxRetailPrice}"></td>
        <td th:text="${product.sellingPrice}"></td>
        <td th:text="${product.quantity}"></td>
		<td><a th:href="@{/updateById/(id=${product.id})}">update</a></td>
        <td><a th:href="@{/delete/(id=${product.id})}">delete</a></td>
    </tr>
</table>
  </br>
    <a href="/product">Add Product</a></br>
</body>
</html>


